# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# База данных
books.db

# Обложки книг
data/covers/*
!data/covers/.gitkeep

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Виртуальное окружение
venv/
env/

# Логи
*.log