# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# База данных
*.db
dev/books.db

# Обложки книг
dev/data/covers/*
!dev/data/covers/.gitkeep

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Виртуальное окружение
venv/
env/

# Логи
dev/logs/*.log
!dev/logs/.gitkeep